#python
/.idea/
/__pycache__/
__pycache__
__pycache__/
.virtualenvironment
.virtualenvironment/
*.pyc
#node
/.vscode
Thumbs.db
ehthumbs.db
Desktop.ini
# npm
node_modules
package-lock.json
*.log
*.gz
# IDEA editor
.idea
.vscode